{
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "displayName": true,
        "fileName": true,
        "meaninglessFileNames": [],
        "namespace": "",
        "ssr": false
      }
    ]
  ]
}
