@layer components {
  .section {
    content-visibility: auto;
    contain-intrinsic-size: 1000px;
    padding: 3rem clamp(1rem, 2dvw, 3rem);
    background-color: var(--colors-background);
  }

  .heading {
    margin-bottom: clamp(1rem, 2dvw, 3rem);
    font-size: clamp(2.5rem, 8dvw, 4rem);
    font-weight: 700;
  }
}
