@layer components {
  .link {
    cursor: pointer;
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      height: 2px;
    }

    &::before {
      left: 0;
      width: 100%;
      background-color: var(--colors-text);
    }

    &::after {
      right: 0;
      width: 0%;
      background-color: var(--colors-link);
      transition: width 0.2s ease-in-out;
    }

    &:hover {
      color: var(--colors-link);
    }

    &:focus-visible {
      color: var(--colors-link);
      outline: 2px solid orange;
      outline-offset: 0.1rem;
    }

    &:hover::after,
    &:focus-visible::after {
      right: unset;
      left: 0;
      width: 100%;
    }

    &:has(svg)::before {
      display: none;
    }
  }
}
