@layer components {
  .link {
    cursor: pointer;
    position: relative;

    &::before {
      content: '';

      position: absolute;
      right: 0;
      bottom: 0;

      width: 0%;
      height: 2px;

      background-color: var(--colors-link);

      transition: width 0.2s ease-in-out;
    }

    &:hover {
      color: var(--colors-link);
    }

    &:focus-visible {
      color: var(--colors-link);
      outline: 2px solid orange;
      outline-offset: 0.1rem;
    }

    &:has(svg)::before {
      display: none;
    }

    &:hover::before,
    &:focus-visible::before {
      right: unset;
      left: 0;
      width: 100%;
    }
  }

  .active {
    color: var(--colors-link);
  }
}
