@layer components {
  .list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

    margin: 0;
    padding-block: 1rem;
    padding-inline: 0;

    & > li {
      flex: 0 0 fit-content;
    }
  }

  .marquee {
    max-width: 100dvw;

    &[data-animated='true'] {
      scrollbar-width: none;

      overflow: -moz-scrollbars-none;
      overflow-x: scroll;

      -webkit-mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
      mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);

      /* this will hide the scrollbar in internet explorers */
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
        width: 0 !important;
        height: 0 !important;
      }

      & > .list {
        flex-wrap: nowrap;

        width: max-content;

        animation-name: scroll;
        animation-duration: var(--animation-duration, 60s);
        animation-play-state: var(--animation-play-state, running);
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: var(--animation-direction, normal);
      }
    }
  }

  @keyframes scroll {
    to {
      translate: calc(-50% - 0.5rem);
    }
  }
}
