@layer components {
  @keyframes marquee-keyframes {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-50%);
    }
  }

  .marquee {
    position: relative;
    overflow-x: hidden;
    display: flex;

    &::before,
    &::after {
      content: '';

      position: absolute;
      z-index: 2;
      top: 0;

      width: clamp(2rem, 5dvw, 5rem);
      height: 100%;
    }

    &::before {
      left: 0;
      background-image: linear-gradient(to right, var(--colors-background), transparent);
    }

    &::after {
      right: 0;
      background-image: linear-gradient(to left, var(--colors-background), transparent);
    }
  }

  .container {
    display: flex;

    animation-name: marquee-keyframes;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  .list {
    display: flex;
    gap: 1.5rem;
    margin-right: 1.5rem;
  }
}
