.card {
  width: 14.75rem;
  min-width: 14.75rem;
  padding: 2rem 1.5rem;
}

.image {
  width: 100%;
  height: 100%;

  &[data-is-inverted='true'] {
    filter: grayscale(1) invert(1);
  }

  &[data-is-inverted='false'] {
    filter: grayscale(1);
  }
}
